* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  background-color: #f0f4f8;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(237, 233, 233);
  z-index: -1;
}
